.modal {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: var(--bgMainScreenPopup);
  padding: 12px;
  gap: 24px;
  align-items: flex-end;
}

.crossIconWrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.crossIcon {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.modalTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 0 12px;
}

.inputWrapper {
  height: 30px;
  border-radius: 8px;
  background-color: var(--textFieldBgMainScreenPopup);
}

.input {
  font-size: 16px;
  font-weight: 600;
}

.inputLabel {
  margin-left: 4px;
  font-size: 16px;
  line-height: 21px;
}

.errorLabel {
  margin-left: 4px;
}

.btn {
  border-radius: 8px;
  padding: 0 16px;
  height: 29px;
  color: var(--mainText);
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}

@media (max-width: 1439.89px) {
  .modal {
    width: 50vw;
  }
}

@media (max-width: 767.89px) {
  .modal {
    width: 78vw;
  }

  .btn {
    font-size: 16px;
    padding: 0 24px;
  }
}

@media (max-width: 424.89px) {
  .modal {
    width: 90vw;
  }

  .modalTitle {
    font-size: 20px;
    line-height: 28px;
  }
}
