.wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: flex-start;
  margin-bottom: 40px;
  margin-left: 120px;
  margin-top: 30px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  background-color: var(--subScreenPopupBg);
  padding: 16px;
  width: 32vw;
  gap: 36px;
}

.crossIconWrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.crossIcon {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.modalTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 0 36px;
  padding-bottom: 12px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.empty {
  width: 16px;
}

.dash {
  width: 16px;
  height: 3px;
  border-radius: 50px;
  background-color: var(--dashBg);
}

.btnModal {
  flex: 1;
  border-radius: 8px;
  height: 30px;
  color: var(--mainText);
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

@media (max-width: 1439.89px) {
  .modal {
    width: 42vw;
  }
}

@media (max-width: 1023.89px) {
  .wrapper {
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 40px 108px 120px 108px;
  }

  .modal {
    width: 50vw;
  }

  .modalContent {
    padding: 0 28px;
  }
}

@media (max-width: 767.89px) {
  .wrapper {
    margin: 40px 100px 120px 32px;
  }

  .modal {
    width: 72vw;
  }

  .row {
    gap: 12px;
  }

  .modalContent {
    padding: 0 12px;
  }

  .btnModal {
    font-size: 14px;
  }
}

@media (max-width: 424.89px) {
  .wrapper {
    margin: 40px 20px 100px 20px;
  }

  .modal {
    width: 90vw;
    gap: 24px;
  }

  .modalTitle {
    font-size: 20px;
    line-height: 28px;
  }

  .modalContent {
    gap: 28px;
    padding: 0 4px;
  }

  .row {
    gap: 8px;
  }
}
