.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}

.btn {
  width: 70%;
  font-size: 28px;
  color: var(--mainText);
  border-radius: 12px;
  height: 40px;
}

@media (max-width: 1439.89px) {
  .wrapper {
    margin: 200px 0;
    padding: 0 40px;
  }
}

@media (max-width: 767.89px) {
  .title {
    font-size: 24px;
  }

  .btn {
    font-size: 22px;
    width: 100%;
  }
}

@media (max-width: 424.89px) {
  .title {
    font-size: 20px;
    line-height: 28px;
  }
}
