.wrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 100%;
  height: 85%;
  align-items: center;
}

.cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 28px;
  gap: 28px;
}

.cancelBtn {
  border-radius: 14px;
  height: 38px;
  width: 22%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 900;
  color: var(--welcomeScreenSubText);
}
