.wrapper {
  flex: 1;
  cursor: pointer;
}

.radioWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.radio {
  background-color: var(--blue);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioChecked {
  background-color: var(--brightBlue);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.radioText {
  color: var(--mainText);
  font-size: calc(20px * var(--font-scale));
  line-height: calc(27px * var(--font-scale));
}
