.wrapper {
  width: 62%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: flex-start;
  margin-bottom: 140px;
  margin-left: 124px;
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerText {
  font-size: calc(24px * var(--font-scale));
  line-height: calc(32px * var(--font-scale));
  font-weight: 600;
  word-break: break-word;
}

.emptyText {
  font-size: calc(20px * var(--font-scale));
  font-weight: 600;
  color: var(--sectionTransparentText);
  padding-left: 20px;
}

@media (max-width: 1439.89px) {
  .wrapper {
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 20px 140px 140px 40px;
  }
}

@media (max-width: 1023.89px) {
  .wrapper {
    margin: 20px 112px 120px 32px;
  }
}

@media (max-width: 767.89px) {
  .wrapper {
    gap: 0;
    margin: 0 100px 100px 32px;
  }
}

@media (max-width: 424.89px) {
  .wrapper {
    gap: 12px;
    margin: 20px 20px 120px 20px;
  }

  .bottomBtn {
    max-width: 70px !important;
  }

  .headerText {
    font-size: calc(20px * var(--font-scale));
    line-height: calc(28px * var(--font-scale));
  }

  .arrowIcon {
    width: 25px;
    height: auto;
  }

  .emptyText {
    font-size: calc(16px * var(--font-scale));
    padding-left: 12px;
  }
}
