.modals {
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 16px;
}

.modal {
  width: 100%;
  border-radius: 14px;
  background-color: var(--bgMainScreenPopup);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.crossIconWrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
}

.crossIcon {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  gap: 12px;
}

.customTitleStyles {
  width: 70%;
  margin-bottom: 4px;
}

.customTitleInputStyles {
  height: 30px;
  background-color: var(--textFieldBgMainScreenPopup);
  border-radius: 8px;
}

.customTitleInputFieldStyles {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  text-align: center;
}

.customInputFieldStyles {
  font-size: 16px;
  line-height: 21px;
}

.customLabelStyles {
  font-size: 14px;
  line-height: 19px;
  margin-left: 4px;
  color: var(--subTextMainScreenPopup);
}

.stateWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 4px;
}

.stateText {
  color: var(--subTextMainScreenPopup);
}

.stateRadios {
  display: flex;
  align-items: center;
  gap: 16px;
}

.radioWrapperStyle {
  gap: 8px;
}

.radioLabelStyle {
  font-size: 14px;
  line-height: 19px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 4px;
}

.flexBtns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  flex: 1;
  border-radius: 8px;
  height: 30px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: var(--mainText);
}

.fullBtn {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--mainText);
  font-size: 16px;
  line-height: 21px;
}

.smallModalTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.smallModalBtns {
  width: 100%;
  padding: 0 18px;
  display: flex;
  align-items: center;
  gap: 42px;
}

.btnBolderText {
  flex: 1;
  border-radius: 8px;
  height: 30px;
  font-weight: 700;
  color: var(--mainText);
  font-size: 16px;
  line-height: 21px;
}
