.modal {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  background-color: var(--bgMainScreenPopup);
  padding: 12px 40px;
}

.modalTitle {
  font-size: calc(20px * var(--font-scale));
  line-height: calc(27px * var(--font-scale));
  font-weight: 700;
  text-align: center;
}

.name {
  font-size: calc(14px * var(--font-scale));
  line-height: calc(16px * var(--font-scale));
  color: var(--codeTransparentText);
  margin-bottom: 16px;
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 42px;
}

.btn {
  flex: 1;
  border-radius: 8px;
  height: 30px;
  font-size: calc(16px * var(--font-scale));
  line-height: calc(21px * var(--font-scale));
  font-weight: 600;
  color: var(--mainText);
}

@media (max-width: 1439.89px) {
  .modal {
    width: 50vw;
  }

  .name {
    margin-bottom: 24px;
  }
}

@media (max-width: 767.89px) {
  .modal {
    width: 78vw;
    padding: 12px 16px;
  }
}

@media (max-width: 424.89px) {
  .modal {
    width: 90vw;
    gap: 4px;
  }

  .modalTitle {
    font-size: calc(16px * var(--font-scale));
    line-height: calc(21px * var(--font-scale));
  }
}
