.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  color: var(--welcomeScreenSubText);
  margin-bottom: 16px;
}

.fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.confirmationWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.codeBtn {
  height: 40px;
  border-radius: 12px;
  margin-top: 27px;
}

.codeBtnText {
  font-size: 20px;
  color: var(--subTextMainScreenPopup);
}

.changeBtn {
  width: 90%;
  margin-top: 28px;
  height: 46px;
  border-radius: 12px;
}

.changeBtnText {
  font-size: 28px;
  color: var(--subTextMainScreenPopup);
  font-weight: 600;
}
