.wrapper {
  background-color: var(--bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollWrapper {
  height: unset;
  min-height: 100vh;
}

.main-wrapper {
  width: 1440px;
  margin: 0 auto;
  flex: 1;
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mainWrapperScroll {
  justify-content: start;
}

.header {
  background-color: var(--bg);
  box-sizing: content-box;
  padding: 32px;
  display: flex;
  align-items: center;
  min-height: 38px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.backIcon {
  display: flex;
  width: fit-content;
  padding: 0 6px;
  cursor: pointer;

  svg path {
    transition: 0.3s;
  }

  &:hover {
    svg path {
      stroke: var(--welcomeScreenSubText);
    }
  }
}

.titleWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 1440px) {
  .main-wrapper {
    width: 100vw;
  }
}
